version: "3.3"
services:
  ffc_frontend:
    image: "jimber/ffc_frontend-${ENVIRONMENT:-development}:${CI_COMMIT_TAG:-dev}"
    build: .
    container_name: "ffc_frontend"
    restart: always
    networks:
      - ffc_network
    ports:
      - "8080:80"
networks:
  ffc_network:
    external: true
